<nav>
<ul class="nav nav-tabs" style="background-color: #222222;">
  <li role="presentation"><a ui-sref="experience"style="color:#999D99">INTRODUCTION</a></li>
  <li role="presentation"><a ui-sref="vip"style="color:#999D99">V.I.P</a></li>
  <li role="presentation"><a ui-sref="cars"style="color:#999D99">CAR RENTAL</a></li>
  <li role="presentation"class="active"><a ui-sref="bikes"style="background-color:#0D2E60;color:#999D99">BIKE RENTAL</a></li>
</ul>
</nav>
{{test}}
<div class="cycles" ng-repeat="bike in bikes">
        <img ng-src="{{bike.img}}">
        <br>Bike: {{bike.bike}}
        <br> difficulty: {{bike.difficulty}}
        <br> Description: {{bike.description}}
        <br> Price:$ {{bike.price}}
        <br> cc:$ {{bike.cc}}
        <br> 0-60:$ {{bike.sixty}}
        <br> Top Speed: {{bike.topSpeed}}
        <hr>
    </div>
