<nav>
<ul class="nav nav-tabs" style="background-color: #222222;">
  <li role="presentation"><a ui-sref="datesIntro" style="color:#999D99">INTRODUCTION</a></li>
  <li role="presentation"><a ui-sref="events"style="color:#999D99">UPCOMING EVENTS</a></li>
  <li role="presentation" class="active"><a ui-sref="calendar" style="background-color:#0D2E60;color:#999D99">CALENDAR</a></li>
    <li role="presentation"><a ui-sref="planner"style="color:#999D99">PLAN YOUR EVENT</a></li>
</ul>
</nav>
<div id='calendar'></div>
