<nav>
  <ul class="nav nav-tabs" style="background-color: #222222;">
    <li role="presentation"><a ui-sref="history" style="color:#999D99">HISTORY</a></li>
    <li role="presentation"class="active"><a ui-sref="circut"style="background-color:#0D2E60;color:#999D99">OUR CIRCUT</a></li>
    <li role="presentation"><a ui-sref="rules"style="color:#999D99">TRACK RULES</a></li>
  </ul>
</nav>
<div class="map">
  <center><h1>OUR CIRCUT</h1>
  <img src="http://www.dcs.shef.ac.uk/~mark/blog/blog_files/photos/silverstone/2009/circuit_map.jpg">
</div>
