<div class="contact">
  <h1>CONTACT US</h1>
  <div id="contactBody">

    <div id="ContactUs">
      INQUIRIES
    </div>

    <div id="contactInputDiv">
      <input class="contactInput" placeholder="Name" type="text">
      <br>
      <input class="contactInput" placeholder="Email" type="email">
      <br>
      <input class="contactInput" placeholder="(555-555-5555)" type="tel">
      <br>
      <textarea class="contactInput" placeholder="message"></textarea>
      <div id="submitButton" ng-click="sendContact()">SUBMIT
      </div>
    </div>
    <div id="floatingInfo">
      <div class="raceTrackInfo" id="address">
        <i class="fa fa-map-marker">    </i>&nbsp;Towcester
        <br> &nbsp;Northamptonshire
        <br>&nbsp;NN12 8TN,
        <br>&nbsp;United Kingdom
        <br>&nbsp;<i class="fa fa-phone"></i>&nbsp;+44 844 372 8200
        <br><i class="fa fa-twitter">    </i>&nbsp;@Silverstone
        <a href="mailto:support@company.com">fred@silverstone.com</a>
      </div>
    </div>
    <br>
  </div>
</div>
