<div class="directions">
  <h1>DIRECTIONS</h1>
  <div class="outerMap">
    <div class="map">
      <div class="intro">
        <h2>General Directions:</h2>
        <span>Silverstone is conveniently situated right in the heart of the UK, approximately 90 minutes north of central London and 60 minutes south of Birmingham. Road access is exceptionally easy along the A43 dual carriageway from either the M40 or M1.
By public transport, the nearest stations are Northampton, Banbury or Milton Keynes, both of which offer fast connections to destinations throughout the country.</span>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2452.353165222176!2d-1.0168574483516453!3d52.07330057963253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48771c5823926c25%3A0x1142afb591c324a6!2sSilverstone+Circuit!5e0!3m2!1sen!2sus!4v1454373986390"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      <div class="steps">
        <div class="buckingham">
          <h2>From Buckingham:</h2>
          <ol>
            <li> Head northwest on Bridge St</li>
            <li>At the roundabout, take the 1st exit onto West St/A422</li>
            <li>Turn right onto Ouse Valley Way/Stowe Ave Continue to follow Stowe Ave </li>
            <li> Take a Slight left </li>
            <li>Continue onto Ouse Valley Way</li>
            <li>Continue onto Dadford Rd </li>
            <li>At the roundabout, take the 2nd exit and stay on Dadford Rd </li>
            <li>At the roundabout, take the 3rd exit Destination will be on the right</li>
          </ol>
        </div>
        <div class="Milton">
          <h2>From Milton Keynes:</h2>
          <ol>
            <li>Head northwest on Saxon Gate toward Midsummer Blvd</li>
            <li>At the roundabout, take the 1st exit onto H5/Portway/A509 </li>
            <li>At the roundabout, take the 2nd exit onto Portway/A509</li>
            <li>At the roundabout, take the 2nd exit onto H5/Portway/A509</li>
            <li>At the roundabout, take the 3rd exit onto the A5 ramp to Buckingham/Northampton </li>
            <li>Merge onto A5 </li>
            <li>At the roundabout, take the 3rd exit onto Watling St/A5</li>
            <li>Continue to follow A5</li>
            <li>Turn left </li>
            <li>Turn right onto A413</li>
            <li>Go through 1 roundabout</li>
            <li>At the roundabout, take the 1st exit and stay on A413 </li>
            <li>Turn left onto Dadford Rd/A413 </li>
            <li>Slight left onto Dadford Rd </li>
            <li>At the roundabout, take the 1st exitzz
              <li>Destination will be on the right</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
