<nav>
  <ul class="nav nav-tabs" style="background-color: #222222;">
    <li role="presentation" class="active"><a ui-sref="eventsIntro" style="background-color:#0D2E60;color:#999D99">INTRODUCTION</a></li>
    <li role="presentation"><a ui-sref="events" style="color:#999D99">UPCOMING EVENTS</a></li>
    <li role="presentation"><a ui-sref="calendar" style="color:#999D99">CALENDAR</a></li>
  </ul>
</nav>
<div class="eventsIntro">
  <div class="events">
    <ul class="img-list">
      <li>
        <a href="http://nataliemac.com">
          <img src="/images/newEducation.jpg" width="750" height="400" alt="" />
          <span class="text-content"><span>Place Name</span></span>
        </a>
      </li>
      <li>
        <a href="http://nataliemac.com">
          <img src="/images/newMeetUp.jpg" width="750" height="400" alt="" />
          <span class="text-content"><span>Place Name</span></span>
        </a>
      </li>
      <li>
        <a href="http://nataliemac.com">
          <img src="/images/newTournament.jpg" width="750" height="400" alt="" />
          <span class="text-content"><span>Place Name</span></span>
        </a>
      </li>
      <li>
        <a href="http://nataliemac.com">
          <img src="/images/newTrackDay.jpg" width="750" height="400" alt="" />
          <span class="text-content"><span>Place Name</span></span>
        </a>
      </li>
    </ul>
    <center>
    <button class='planButton'>PLAN YOUR EVENT NOW</button>
  </center>
  </div>
</div>
