<nav>
  <ul class="nav nav-tabs" style="background-color: #222222;">
    <li role="presentation"><a ui-sref="eventsIntro" style="color:#999D99">OVERVIEW</a></li>
    <li role="presentation" class="active"><a ui-sref="events" style="background-color:#0D2E60;color:#999D99">UPCOMING EVENTS</a></li>
    <li role="presentation"><a ui-sref="calendar" style="color:#999D99">CALENDAR</a></li>
  </ul>
</nav>
<div class="outerEvents">
  <div class="scrollPhoto">
  <div class="infoBanner">
    <h1>UPCOMING EVENTS</h1>
    </div>
    <div class="photobanner">
     <img class="first"src = "/images/scroll1.jpg" alt="" />
     <img src = "/images/scroll2.jpg" alt="" />
     <img src = "/images/scroll3.jpg" alt="" />
     <img src = "/images/scroll4.jpg" alt="" />
     <img src = "/images/scroll5.jpg" alt="" />
     <img src = "/images/scroll6.jpg" alt="" />
     <img src = "/images/scroll7.jpg" alt="" />
     <img src = "/images/scroll8.jpg" alt="" />
     <img src = "/images/scroll9.jpg" alt="" />
     <img src = "/images/scroll10.jpg" alt="" />
     <img src = "/images/scroll11.jpg" alt="" />
    </div>
  </div>
  <div class="media eventContainer" ng-repeat="event in events">
    <a class="media-left" ui-sref="calendar">
      <img class="media-object" ng-src="{{event.img}}"style="margin-bottom: 30px">
    </a>
    <div class="media-body eventList" style="width 400px;">
      <h2 class="media-heading">{{event.title}}</h2>
      <h4>Host: {{event.userName}}</h4>
      <br>
      <h4>Date: {{event.start}}</h4>
      <h4>Group Size: {{event.group}} People</h4>
    </div>
  </div>
</div>
