<div class="outerFaq">
  <div class="faq">
    <h1>FREQUENTLY ASKED QUESTIONS</h1>
    <div id="accordion">
      <h3>WHAT IS THE BEST WEBSITE EVER?</h3>
      <div class="answer">
        <p>
          FREDNYAMBATI.COM
        </p>
      </div>
      <h3>WHY CAN'T I PAY ONLINE</h3>
      <div class="answer">
        <p>
          NO PAYMENT AUTH!
        </p>
      </div>
      <h3>CAN I SWIM IN UTAH LAKE????</h3>
      <div class="answer">
        <p>
          "DONT EVER SWIM THERE! IT IS THE FILTHIEST BODY OF WATER IN THE COUNTRY!!" -Tim Charlesworth
        </p>
      </div>
      <h3>WHERE IS SILVERSTONE???</h3>
      <div class="answer">
        <p>
          ENGLAND
        </p>
      </div>
    </div>
  </div>
</div>
