<footer class="footer-distributed">

      <div class="footer-left">

        <img src='./images/footerLogo.svg'>
        <br>
        <p class="footer-links">
          <a ui-sref="history">Info</a> ·
          <a ui-sref="eventsIntro">Events</a> ·
          <a ui-sref="results">Results</a>·
          <a ui-sref="experience">Experiences</a>·
          <a ui-sref="faq">FAQ</a>
        </p>
        <p class="footer-company-name">Fred Nyambati &copy; 2016</p>
      </div>
      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Towcester, Northamptonshire NN12 8TN</span>United Kingdom</p>
        </div>
        <div>
          <i class="fa fa-phone"></i>
          <p>+44 844 372 8200</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">fred@silverstone.co.uk</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>Disclaimer</span> This website was made for educational purposes only, I do not represent silverstone, Formula 1, or any other 3rd Party.
        </p>
        <div class="footer-icons">
          <a href="https://www.facebook.com/fred.nyambati" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/fredadupe" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/fredrick-nyambati-48b94b101" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/FNyambati" target="_blank"><i class="fa fa-github"></i></a>
        </div>
      </div>
</footer>
