<ul class="nav nav-tabs" style="background-color: #222222;">
  <li role="presentation"><a ui-sref="info"style="color:#999D99">INTRODUCTION</a></li>
  <li role="presentation" class="active"><a ui-sref="history" style="background-color:#0D2E60;color:#999D99">HISTORY</a></li>
  <li role="presentation"><a ui-sref="circut"style="color:#999D99">OUR CIRCUT</a></li>
  <li role="presentation"><a ui-sref="rules"style="color:#999D99">TRACK RULES</a></li>
</ul>
<div class="history">
  <h1>AUTHENTIC BRITISH RACING HERITAGE</h1>
  <p>The end of Second World War had left Britain with no major race track but an abundance of airfields. One of these surplus airfields was located outside the village of Silverstone and being roughly in the middle of England was seen as an ideal location,
    to bring back international motor racing to Britain.</p>

  <p>By 1948 The Royal Automobile Club arranged a 1 year lease with the Air Ministry in the spirit of optimism and possibility that characterised the time. An ex-farmer, James Wilson Brown, was employed by the RAC and given just two months to turn the site
    from a wartime airfield and farm into a race track for the first RAC International Grand Prix.</p>

  <p>On the 2nd October 1948, with hay bales and ropes protecting the piggery and the crops in the middle of the circuit, and canvas barriers stopping the drivers from being distracted by cars coming the other way, an estimated 100,000 people flocked to
    see Luigi Villoresi beat a field of 22 others in his Maserati. Silverstone racing history had started.</p>
    <br/>
    <div class="decade">
      <img src="./images/1950.jpg">
      <img src="./images/1960.jpg">
      <img src="./images/1970.jpg">
      <img src="./images/1980.jpg">
      <img src="./images/1990.jpg">
    </div>
    <h1>TIMELINE OF EVENTS</h1>
    <div class="timeline">
  <div id="accordion">
    <h3>1950's</h3>
    <div class="answer">
      <h4>1950: A Royal Presence</h4>
      <p>The one and only time a reigning monarch has attended a British motor race, King George VI helped the crowd to celebrate the status of European Grand Prix on the Silverstone race.</p>
      <h4>1951: BRDC takes over</h4>
      <p>The British Racing Drivers’ Club took over the lease of Silverstone from the RAC, and set about changing the airfield track into something more permanent and raising the spectators up for a better view.</p>
      <h4>1956: Fangio bashes his way to victory</h4>
      <p>Argentinian legend Juan Manuel Fangio won the British Grand Prix. The cutting-edge aerodynamics of the car meant he couldn’t see much of the circuit, and he repeatedly dinged up his Alfa Romeo on the oil drums marking the edge of the track.</p>
    </div>
    <h3>1960's</h3>
    <div class="answer">
      <h4>1960: Hill goes from last to first - and loses</h4>
      <p>Graham Hill stalled his BRM at the start of 1960 Grand Prix, but went from last to first, only to spin off at Copse – five laps from the finish – breaking the hearts of his fans and handing victory to Jack Brabham.</p>
      <h4>1963: Clark wins at cruise</h4>
      <p>Jim Clark’s Lotus 24 was leading, but his fuel gauge was on empty. So he cruised the last lap in top gear in a desperate attempt to prevent the car running out of fuel. He won with almost half a minute to spare. (But with how much fuel?)</p>
      <h4>1969: Williams makes debut</h4>
      <p>The 1969 Grand Prix was won by Jackie Stewart in a Matra, but is now perhaps more notable for its 5th place – a privately-owned and built car’s debut driven by the 27-year-old ex-travelling grocery salesman Frank Williams.</p>
    </div>
    <h3>1970's</h3>
    <div class="answer">
      <h4>1971: Jackie Stewart dominates</h4>
      <p>Jackie Stewart wins the second of three world titles.</p>
      <h4>1975 Woodcote "flat out"</h4>
      <p>A whole raft of improvements were made to the track in the winter of 1974/75, including making Woodcote corner the fastest in F1. With conditions perfect and the car in tip-top shape, Jackie Stewart reckoned you could take it at 160mph.</p>
      <h4>1977: Hunt...</h4>
      <p>The 1977 British Grand Prix saw the reigning Formula 1 World Champion and crowd favorite James Hunt take at popular win in his Marlboro McLaren-Ford M26.</p>
    </div>
    <h3>1980's</h3>
    <div class="answer">
      <h4>1983: Turbo Power - it'll never work</h4>
      <p>Renault had been making its cars with turbo technology for five years when Alain Prost finally won for the team, and the turbo era was born.</p>
      <h4>1987: Mansell mobbed at finish</h4>
      <p>Nelson Piquet had to concede going into Stowe, and Nigel Mansell won one of the greatest races of all time. When he ran out of fuel on his slowing down lap, it sent the home fans into delirium – they invaded the track and mobbed the exhausted Brit.</p>
      <h4>1988: Senna conquers all</h4>
      <p>1988 will be remembered for the monsoon-like conditions that enabled Ayrton Senna, in his first Championship year, the opportunity to show his extraordinary skills in such appalling conditions. He dominated to win the race, while Mansell again caused
        considerable excitement with his drive to second in his now normally-aspirated Williams.</p>
    </div>
  <h3>1990's</h3>
  <div class="answer">
    <h4>1991: Major Refurbishment&nbsp;</h4>
    <p>The Silverstone circuit has always been one of the fastest on the world circuit. But two major overhauls were required to make it safer without losing speed. The first was in 1991, and the second after the Senna and Ratzenberger tragedies in 1994.</p>
    <h4>1994: Top of the Hills</h4>
    <p>Damon Hill came to the 1994 race with a point to prove, having lost out to teammate Alain Prost the previous year. It handed the Hill family a victory they had been craving for over 30 years.</p>
    <h4>1998:&nbsp;Schumacher breaks
  duck – then leg</h4>
    <p>Having been threatening for years, Michael Schumacher finally won the British Grand Prix in 1998, but broke his leg the following year when his brakes failed.</p>
  </div>
</div>
</div>
</div>
