<div class="hof">
<h1>HALL OF FAME</h1>
<p>These are the most notorious drivers to ever grace our great track. Their names, cars, and times will be forever immortilized in the Hall of Fame!</p>

<table style="width:100%"class "dm8">
  <tr>
    <th class="blueTable">Driver</th>
    <th class="redTable">Car</th>
    <th class="blueTable">Laptime</th>
  </tr>
  <tr ng-repeat="laptime in laptimes">
    <td>{{laptime.name}}</td>
    <td>{{laptime.car}}</td>
    <td>{{laptime.time}}</td>
  </tr>
</table>
</div>
