<nav>
  <ul class="nav nav-tabs" style="background-color: #222222;">
    <li role="presentation" class="active"><a ui-sref="info" style="background-color:#0D2E60;color:#999D99">INTRODUCTION</a></li>
    <li role="presentation"><a ui-sref="history" style="color:#999D99">HISTORY</a></li>
    <li role="presentation"><a ui-sref="circut" style="color:#999D99">OUR CIRCUT</a></li>
    <li role="presentation"><a ui-sref="rules" style="color:#999D99">TRACK RULES</a></li>
  </ul>
</nav>
<div class="info">
  <div class="infoBanner">
    <h1>INFO</h1></div>
    <div class="weather">
      <h2>CURRENT TRACK CONDITIONS:</h2>
        <iframe src="http://www.weatherfor.us/load.php?location=silverstone,+United+Kingdom" scrolling="no" frameborder="0" allowtransparency="true" style="background: transparent; width: 500px; height: 250px;overflow: hidden;"></iframe>
    </div>
    <div class="infoBody">
    <div class = "media" style="height:100%">
   <a class = "pull-left">
      <img class = "media-object" src = "/images/1950.jpg" alt = "Media Object" style="max-width:150px;max-height:150px;">
   </a>
   <div class = "media-body">
      <h4 class = "media-heading">Media heading</h4>
      This is some sample text. This is some sample text.
      This is some sample text. This is some sample text.
      This is some sample text. This is some sample text.
      This is some sample text. This is some sample text.
   </div>
   <a class = "pull-left">
      <img class = "media-object" src = "/images/1950.jpg" alt = "Media Object"style="max-width:150px;max-height:150px;">
   </a>
   <div class = "media-body">
      <h4 class = "media-heading">Media heading</h4>
      This is some sample text. This is some sample text.
      This is some sample text. This is some sample text.
      This is some sample text. This is some sample text.
      This is some sample text. This is some sample text.
   </div>
   <a class = "pull-left">
      <img class = "media-object" src = "/images/1950.jpg" alt = "Media Object"style="max-width:150px;max-height:150px;">
   </a>
   <div class = "media-body">
      <h4 class = "media-heading">Media heading</h4>
      This is some sample text. This is some sample text.
      This is some sample text. This is some sample text.
      This is some sample text. This is some sample text.
      This is some sample text. This is some sample text.
   </div>
</div>
</div>
</div>
