<nav>
  <ul class="nav nav-tabs" style="background-color: #222222;">
    <li role="presentation" class="active"><a ui-sref="info" style="background-color:#0D2E60;color:#999D99">INTRODUCTION</a></li>
    <li role="presentation"><a ui-sref="history" style="color:#999D99">HISTORY</a></li>
    <li role="presentation"><a ui-sref="circut" style="color:#999D99">OUR CIRCUT</a></li>
    <li role="presentation"><a ui-sref="rules" style="color:#999D99">TRACK RULES</a></li>
  </ul>
</nav>
<div class="info">
  <div class="scrollPhoto">
  <div class="infoBanner">
    <h1>INFO</h1>
    </div>
    <div class="photobanner">
     <img class="first"src = "/images/scroll1.jpg" alt="" />
     <img src = "/images/scroll2.jpg" alt="" />
     <img src = "/images/scroll3.jpg" alt="" />
     <img src = "/images/scroll4.jpg" alt="" />
     <img src = "/images/scroll5.jpg" alt="" />
     <img src = "/images/scroll6.jpg" alt="" />
     <img src = "/images/scroll7.jpg" alt="" />
     <img src = "/images/scroll8.jpg" alt="" />
     <img src = "/images/scroll9.jpg" alt="" />
     <img src = "/images/scroll10.jpg" alt="" />
     <img src = "/images/scroll11.jpg" alt="" />
    </div>
</div>
</div>
