<nav class="navbar navbar-inverse nav-fixed-top" style="margin-bottom: 0px;border-radius: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home"><img src="./images/myLogo.png"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="history">Track Info</a></li>
        <li><a ui-sref="results">Results</a></li>
        <li><a ui-sref="eventsIntro">Events</a></li>
        <li><a ui-sref="vip">Experiences</a></li>
        <li><a ui-sref="hof" class="dm8" style="color:gold;">HALL OF FAME</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">F1<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">F1</li>
            <li><a href="https://www.formula1.com/content/fom-website/en/championship/results/2015-driver-standings.html" target="_blank">Current Standings</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="contact">Contact</a></li>
        <li><a ui-sref="faq">FAQ</a></li>
        <li><a ui-sref="directions">Directions</a></li>
        <li><a ui-sref="profile">My Profile</a></li>
        <li><a ui-sref="login" class="logBtn" style="color:#B41724;">Sign Up/Login <span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
