<nav>
  <ul class="nav nav-tabs" style="background-color: #222222;">
    <li role="presentation"><a ui-sref="eventsIntro" style="color:#999D99">INTRODUCTION</a></li>
    <li role="presentation"><a ui-sref="events" style="color:#999D99">UPCOMING EVENTS</a></li>
    <li role="presentation"><a ui-sref="calendar" style="color:#999D99">CALENDAR</a></li>
    <li role="presentation" class="active"><a ui-sref="planner" style="background-color:#0D2E60;color:#999D99">PLAN YOUR EVENT</a></li>
  </ul>
</nav>
<div class="planBanner">
  <h1>PLAN YOUR SILVERSTONE EVENT</h1></div>
<div class="planner">
  <h3> GROUP INFO: </h3>
  <form>
    EVENT LEADER:
    <div class="eventLeader">
      <input type="text" name="fName" placeholder="First Name">
      <input type="text" name="lName" placeholder="Last Name">
    </div>
    <br> TRACK DAY DATE:
    <div class="datePicker">
      <input type="date" name="trackDay">
    </div>
    <br>
    <input type="number" name="quantity" placeholder="Group Size" min="1">
    <h3>EQUIPMENT NEEDED(OPTIONAL):</h3>
      <br> CAR RENT: <input type="radio" name="option" value="Yes" style="margin-left: 10px"> Yes
      <input type="radio" name="option" value="No" style="margin-left: 10px"> No
      <div class="carPicker">
        <select>
          <option value="" disabled selected>Select Car</option>
          <option ng-repeat="car in cars">{{car.car}} £{{car.price}}</option>
          <input type="number" name="quantity" placeholder="Qty" min="1">
        </select>
      </div>
      <br> BIKE RENT:
      <input type="radio" name="option" value="Yes" style="margin-left: 10px"> Yes
      <input type="radio" name="option" value="No"> No
      <div class="bikePicker">
        <select ng-controller='bikeCtrl'>
          <option value="" disabled selected>Select Bike</option>
          <option ng-repeat="bike in bikes">{{bike.bike}} £{{bike.price}}</option>
          <input type="number" name="quantity" placeholder="Qty" min="1">
      </div>
      </select>
  </form>
</div>
