<nav>
  <ul class="nav nav-tabs" style="background-color: #222222;">
    <li role="presentation"><a ui-sref="history" style="color:#999D99">HISTORY</a></li>
    <li role="presentation"><a ui-sref="circut" style="color:#999D99">OUR CIRCUT</a></li>
    <li role="presentation" class="active"><a ui-sref="rules" style="background-color:#0D2E60;color:#999D99">TRACK RULES</a></li>
  </ul>
</nav>
<center>
  <h1 class="trackBanner">TRACK RULES</h1></center>
<div class="rules">
  <div class="drivers">
    <h1>Rules For Drivers</h1>
    <p>These are basic safety rules to be able to race at Silverstone. For detailed information regarding car categories and rules obtain an official Rule Book. For more information about Silverstone regulations contact us at +44 844 372 8200. </p>
    <ul>
      <li>A valid state driver's license is required for all drivers. </li>
      <li>All drivers are required to wear long pants, a shirt with sleeves (no tank tops) , and closed toe shoes (no sandals). </li>
      <li>All vehicles are required to have at least one functional taillight. </li>
      <li>All motorcycle riders are required to wear a full face helmet meeting above Specs, leather jacket, leather boots/shoes above the ankle, and leather gloves. Full all leathers or SFI Spec 40.1/2 suit is mandatory on all motorcycles running 120 mph
        or faster. </li>
      <li>A seat belt is mandatory in all cars</li>
      <li>A roll bar is required on all cars over 500HP</li>
      <li>DRIVE CLEAN and Drive SAFE</li>
    </ul>
  </div>
  <div class="spectators">
    <h1>Rules For Spectators</h1>
    <p>Here at Silverstone, we desire the safest environment possible for fans to enjoy the event experience.&nbsp;</p>
    <p>In an effort to enhance fan comfort during the races, Silverstone will continue its carry-in bag policy for our events. In addition to permitting one 14-inch cooler, fans now may bring one carry-in bag only. That item also may not exceed the 14-inch
      size limit. All carry-in items will be searched prior to entry into Speedway grandstands. It is recommended that fans make their way into the gates at least one hour prior to green flag to allow proper time for inspection of these items.</p>
    <h2>Prohibited Items:</h2>
    <p>To ensure that all fans have a safe and enjoyable visit to Silverstone and Bristol Dragway, the following items will not be permitted inside the gates:</p>
    <ul>
      <li>Beer balls</li>
      <li>Bicycles</li>
      <li><strong>Coolers wider than 14 inches</strong></li>
      <li>Drones</li>
      <li>Fires</li>
      <li>Fireworks</li>
      <li>Folding chairs</li>
      <li><strong>Glass containers</strong>&nbsp;</li>
      <li>Grills</li>
      <li>Golf carts, ATV-type vehicles &nbsp;</li>
      <li>Helium balloons and beach balls</li>
      <li>Hoverboards</li>
      <li>Illegal drugs</li>
      <li>Laser Pointers</li>
      <li>Monopods</li>
      <li>Noisemakers, horns</li>
      <li>Pets - except service animals assisting the disabled</li>
      <li>Roller Blades</li>
      <li>Scaffolds or platforms</li>
      <li>Segways</li>
      <li>Selfie Sticks</li>
      <li>Skateboards</li>
      <li><strong>Stadium seats wider than 17 inches</strong></li>
      <li><strong>Stadium seats with arms</strong></li>
      <li>Strollers</li>
      <li>Tripods</li>
      <li><strong>Umbrellas</strong></li>
      <li>Weapons of any description including guns, knives, ice picks, etc., regardless of permit.</li>
      <li>Other items that may pose a safety hazard or diminish the enjoyment of an event by other patrons.</li>
    </ul>
    <p>Prohibited items that are discovered during security inspections at the Speedway entrances must either be returned to the owner's vehicle or discarded. Unlawful items that are discovered during security inspections are subject to confiscation and
      the person in possession of those items is subject to arrest. Any prohibited item discovered inside the Speedway is subject to confiscation.</p>
    <h2>Prohibited Activities</h2>
    <p>Please note that the following activities are not permitted on Speedway or Dragway grounds:</p>
    <ul>
      <li>Solicitation for Donations</li>
      <li>Selling or Buying Tickets</li>
      <li>Unapproved Selling of Merchandise or Services</li>
      <li>Unapproved Distribution of any item</li>
      <li>Unapproved Entertaining</li>
    </ul>
  </div>
</div>
