<nav>
  <ul class="nav nav-tabs" style="background-color: #222222;">
    <li role="presentation" class="active"><a ui-sref="vip" style="background-color:#0D2E60;color:gold">V.I.P</a></li>
    <li role="presentation"><a ui-sref="cars" style="color:#999D99">CAR RENTAL</a></li>
    <li role="presentation"><a ui-sref="bikes" style="color:#999D99">BIKE RENTAL</a></li>
  </ul>
</nav>
<div class="vip">
  <h1 class="vipBanner"> V.I.P</h1>
  <div class="scrollPhoto">
    <div class="photobanner">
      <img class="first" src="/images/vip.jpg" alt="" />
      <img src="/images/vip2.jpg" alt="" />
      <img src="/images/vip3.jpg" alt="" />
      <img src="/images/vip4.jpg" alt="" />
      <img src="/images/vip6.jpg" width="400" height="300" />
      <img src="/images/vip7.jpg" alt="" />
      <img src="/images/vip8.jpg" alt="" />
      <img src="/images/vip9.jpg" alt="" />
      <img src="/images/vip10.jpg" alt="" />
      <img src="/images/vip11.jpg" alt="" />
      <img src="/images/vip12.jpg" alt="" />
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <!-- /Plans -->
  <section id="plans">
    <h1 class="vipBanner">PACKAGES</h1>
    <div class="container">
      <div class="row">

        <!-- item -->
        <div class="col-md-3 text-center">
          <div class="panel panel-danger panel-pricing" style="border: 2px solid #CD7F32">
            <div class="panel-heading" style="background-color:#333333;border-bottom: 1px solid #CD7F32">
              <i class="fa fa-flag-checkered" style="color:#CD7F32"></i>
              <h3 style="color:#CD7F32">PROFESSIONAL</h3>
            </div>
            <div class="panel-body text-center;" style="background-color:#333333;">
              <p style="color:#CD7F32;"><strong>£475/YR</strong></p>
            </div>
            <ul class="list-group text-center" style="background-color:#333333;">
              <li class="list-group-item" style="color:#CD7F32;background-color:#333333;border: 1px solid #CD7F32"><i class="fa fa-check" style="color:#CD7F32"></i>Up to 3 Free Guests On Trackdays</li>
              <li class="list-group-item" style="color:#CD7F32;background-color:#333333;border: 1px solid #CD7F32"><i class="fa fa-check" style="color:#CD7F32"></i>Free Museum Tour For 2</li>
              <li class="list-group-item" style="color:#CD7F32;background-color:#333333;border: 1px solid #CD7F32"><i class="fa fa-check" style="color:#CD7F32"></i>Exclusive Mailied Content</li>
            </ul>
            <div class="panel-footer" style="background-color:#333333;">
              <a class="btn btn-lg btn-block btn-danger" href="#" style="background-color:#333333; color:#CD7F32; border: 4px solid #CD7F32" ng-click="addVip('Professional')">BUY NOW!</a>
            </div>
          </div>
        </div>
        <!-- /item -->

        <!-- item -->
        <div class="col-md-3 text-center">
          <div class="panel panel-warning panel-pricing" style="border: 2px solid silver">
            <div class="panel-heading" style="background-color:#333333;border-bottom: 1px solid silver">
              <i class="fa fa-flag-checkered" style="color:silver"></i>
              <i class="fa fa-flag-checkered" style="color:silver"></i>
              <h3 style="color:silver">WORLD CLASS</h3>
            </div>
            <div class="panel-body text-center" style="background-color:#333333;">
              <p style="color:silver"><strong>£950/YR</strong></p>
            </div>
            <ul class="list-group text-center" style="background-color:#333333;">
              <li class="list-group-item" style="color:silver;background-color:#333333;border: 1px solid silver"><i class="fa fa-check" style="color:silver;"></i>Up to 7 Free Guests On Trackdays</li>
              <li class="list-group-item" style="color:silver;background-color:#333333;border: 1px solid silver"><i class="fa fa-check" style="color:silver;"></i> Free Museum Tour For 5</li>
              <li class="list-group-item" style="color:silver;background-color:#333333;border: 1px solid silver"><i class="fa fa-check" style="color:silver"></i> Exclusive Mailied Content</li>
              <li class="list-group-item" style="color:silver;background-color:#333333;border: 1px solid silver"><i class="fa fa-check" style="color:silver"></i>F1 Simulator Access</li>
              <li class="list-group-item" style="color:silver;background-color:#333333;border: 1px solid silver"><i class="fa fa-check" style="color:silver"></i>Priority Tickets to Races</li>
              <li class="list-group-item" style="color:silver;background-color:#333333;border: 1px solid silver"><i class="fa fa-check" style="color:silver"></i>One Free Car or Bike Rental per Year</li>
            </ul>
            <div class="panel-footer" style="background-color:#333333;">
              <a class="btn btn-lg btn-block btn-danger" href="#" style="background-color:#333333; color:silver; border: 4px solid silver" ng-click="addVip('World Class')">BUY NOW!</a> </div>
          </div>
        </div>
        <!-- /item -->

        <!-- item -->
        <div class="col-md-3 text-center">
          <div class="panel panel-success panel-pricing" style="border: 2px solid gold">
            <div class="panel-heading" style="background-color:#333333;border-bottom: 1px solid gold">
              <i class="fa fa-flag-checkered" style="color:gold"></i>
              <i class="fa fa-flag-checkered" style="color:gold"></i>
              <i class="fa fa-flag-checkered" style="color:gold"></i>
              <h3 style="color:gold">LEGENDARY</h3>
            </div>
            <div class="panel-body text-center" style="background-color:#333333;">
              <p style="color:gold"><strong>£2550/YR</strong></p>
            </div>
            <ul class="list-group text-center" style="background-color:#333333;">
              <li class="list-group-item" style="color:gold;background-color:#333333;border: 1px solid gold"><i class="fa fa-check" style="color:gold;"></i>Up to 10 Free Guests On Trackdays</li>
              <li class="list-group-item" style="color:gold;background-color:#333333;border: 1px solid gold"><i class="fa fa-check" style="color:gold;"></i> Free Museum Tour For 20</li>
              <li class="list-group-item" style="color:gold;background-color:#333333;border: 1px solid gold"><i class="fa fa-check" style="color:gold"></i> Exclusive Mailied Content</li>
              <li class="list-group-item" style="color:gold;background-color:#333333;border: 1px solid gold"><i class="fa fa-check" style="color:gold"></i> UNLIMITED F1 Simulator Access</li>
              <li class="list-group-item" style="color:gold;background-color:#333333;border: 1px solid gold"><i class="fa fa-check" style="color:gold"></i>Priority BOOTH or FRONT ROW Tickets to Races</li>
              <li class="list-group-item" style="color:gold;background-color:#333333;border: 1px solid gold"><i class="fa fa-check" style="color:gold"></i>FIVE Free Car or Bike Rental per Year</li>
              <li class="list-group-item" style="color:gold;background-color:#333333;border: 1px solid gold"><i class="fa fa-check" style="color:gold"></i>Priority Event Planning Privilages</li>
              <li class="list-group-item" style="color:gold;background-color:#333333;border: 1px solid gold"><i class="fa fa-check" style="color:gold"></i>F1 Pit Crew Expreience</li>
            </ul>
            <div class="panel-footer" style="background-color:#333333;">
              <a class="btn btn-lg btn-block btn-danger" href="#" style="background-color:#333333; color:gold; border: 4px solid gold" ng-click="addVip('Legendary')">BUY NOW!</a>
            </div>
          </div>
        </div>
        <!-- /item -->
        <div class="col-md-3 text-center">
          <div class="panel panel-warning panel-pricing" style="border: 3.5px solid #b00303">
            <div class="panel-heading" style="background-color:#333333;border-bottom: 1px solid #b00303">
              <i class="fa fa-trophy" style="color:#b00303"></i>
              <h3 style="color:#b00303"><u><span class="omega" style="color:white">Ω</span> OMEGA <span class="omega" style="color:white">Ω</span></u></h3>
            </div>
            <div class="panel-body text-center" style="background-color:#333333;">
              <p style="color:#b00303"><strong>£5000/YR</strong></p>
            </div>
            <ul class="list-group text-center" style="background-color:#333333;">
              <li class="list-group-item" style="color:#b00303;background-color:#333333;border: 1px solid #b00303"><i class="fa fa-check" style="color:#b00303;"></i>Up to 30 Free Guests On Trackdays</li>
              <li class="list-group-item" style="color:#b00303;background-color:#333333;border: 1px solid #b00303"><i class="fa fa-check" style="color:#b00303;"></i> Free Museum Tour For 40</li>
              <li class="list-group-item" style="color:#b00303;background-color:#333333;border: 1px solid #b00303"><i class="fa fa-check" style="color:#b00303"></i> Exclusive Mailied Content</li>
              <li class="list-group-item" style="color:#b00303;background-color:#333333;border: 1px solid #b00303"><i class="fa fa-check" style="color:#b00303"></i> UNLIMITED PRIVATE F1 Simulator Access</li>
              <li class="list-group-item" style="color:#b00303;background-color:#333333;border: 1px solid #b00303"><i class="fa fa-check" style="color:#b00303"></i>EXCLUSIVE BOOTH or FRONT ROW Tickets to Races</li>
              <li class="list-group-item" style="color:#b00303;background-color:#333333;border: 1px solid #b00303"><i class="fa fa-check" style="color:#b00303"></i>FIVE Free Car or Bike Rental per Year</li>
              <li class="list-group-item" style="color:#b00303;background-color:#333333;border: 1px solid #b00303"><i class="fa fa-check" style="color:#b00303"></i>4 FREE Track Events a year </li>
              <li class="list-group-item" style="color:#b00303;background-color:#333333;border: 1px solid #b00303"><i class="fa fa-check" style="color:#b00303"></i>F1 Pit Crew Expreience</li>
              <li class="list-group-item" style="color:#b00303;background-color:#333333;border: 1px solid #b00303"><i class="fa fa-check" style="color:#b00303"></i>HOTEL ACCOMIDATIONS</li>
              <li class="list-group-item" style="color:#b00303;background-color:#333333;border: 1px solid #b00303"><i class="fa fa-check" style="color:#b00303"></i>FREE AIRFARE TO AND FROM LONDON</li>

              <li class="list-group-item" style="color:#b00303;background-color:#333333;border: 1px solid #b00303"><i class="fa fa-check" style="color:#b00303;"></i>EXCLUSIVE Press Pass on GP Media Day</li>
              <li class="list-group-item" style="color:#b00303;background-color:#333333;border: 1px solid #b00303"><i class="fa fa-check" style="color:#b00303;"></i> McLaren Driving Experiece</li>
              <li class="list-group-item" style="color:#b00303;background-color:#333333;border: 1px solid #b00303"><i class="fa fa-check" style="color:#b00303"></i> Meet and Greet with F1 Drivers Before AND After Races</li>
              <li class="list-group-item" style="color:#b00303;background-color:#333333;border: 1px solid #b00303"><i class="fa fa-check" style="color:#b00303"></i> Personal Driving Lesson With LEWIS HAMILTON AND NICO ROSBERG of TEAM MERCEDES</li>
            </ul>
            <div class="panel-footer" style="background-color:#333333;">
              <a class="btn btn-lg btn-block btn-danger" href="#" style="background-color:#333333; color:#b00303; border: 4px solid #b00303" ng-click="addVip('Omega')">BUY NOW!</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
