<nav>
  <ul class="nav nav-tabs" style="background-color: #222222;">
    <li role="presentation"><a ui-sref="experience" style="color:#999D99">INTRODUCTION</a></li>
    <li role="presentation" class="active"><a ui-sref="vip" style="background-color:#0D2E60;color:#999D99">V.I.P</a></li>
    <li role="presentation"><a ui-sref="cars" style="color:#999D99">CAR RENTAL</a></li>
    <li role="presentation"><a ui-sref="bikes" style="color:#999D99">BIKE RENTAL</a></li>
  </ul>
</nav>
<div class="vip">
  <h1 class="vipBanner"> VIP PACKAGES</h1>
  <br/><br/><br/>
  <!-- /Plans -->
  <section id="plans">
          <div class="container">
              <div class="row">

                  <!-- item -->
                  <div class="col-md-4 text-center">
                      <div class="panel panel-danger panel-pricing"style="border: 2px solid #CD7F32">
                          <div class="panel-heading"style="background-color:#333333;border-bottom: 1px solid #CD7F32">
                              <i class="fa fa-flag-checkered"style="color:#CD7F32"></i>
                              <h3 style="color:#CD7F32">Package 1</h3>
                          </div>
                          <div class="panel-body text-center;"style="background-color:#333333;">
                              <p style="color:#CD7F32;"><strong>£695</strong></p>
                          </div>
                          <ul class="list-group text-center"style="background-color:#333333;">
                              <li class="list-group-item"style="color:#CD7F32;background-color:#333333;border: 1px solid #CD7F32"><i class="fa fa-check"style="color:#CD7F32"></i>3.5 Hours</li>
                              <li class="list-group-item"style="color:#CD7F32;background-color:#333333;border: 1px solid #CD7F32"><i class="fa fa-check"style="color:#CD7F32"></i>Reception Only</li>
                              <li class="list-group-item"style="color:#CD7F32;background-color:#333333;border: 1px solid #CD7F32"><i class="fa fa-check"style="color:#CD7F32"></i>Wireless Microphone</li>
                             <li class="list-group-item"style="color:#CD7F32;background-color:#333333;border: 1px solid #CD7F32"><i class="fa fa-check"style="color:#CD7F32"></i>Planning Tools</li>

                          </ul>
                          <div class="panel-footer"style="background-color:#333333;">

                          </div>
                      </div>
                  </div>
                  <!-- /item -->

                  <!-- item -->
                  <div class="col-md-4 text-center">
                      <div class="panel panel-warning panel-pricing"style="border: 2px solid silver">
                          <div class="panel-heading"style="background-color:#333333;border-bottom: 1px solid silver">
                              <i class="fa fa-flag-checkered"style="color:silver"></i>
                              <i class="fa fa-flag-checkered"style="color:silver"></i>
                              <h3 style="color:silver">Package 2</h3>
                          </div>
                          <div class="panel-body text-center"style="background-color:#333333;">
                              <p style="color:silver"><strong>£1095</strong></p>
                          </div>
                          <ul class="list-group text-center"style="background-color:#333333;">
                              <li class="list-group-item"style="color:silver;background-color:#333333;border: 1px solid silver"><i class="fa fa-check"style="color:silver;"></i> Personal use</li>
                              <li class="list-group-item"style="color:silver;background-color:#333333;border: 1px solid silver"><i class="fa fa-check"style="color:silver;"></i> Unlimited projects</li>
                              <li class="list-group-item"style="color:silver;background-color:#333333;border: 1px solid silver"><i class="fa fa-check"style="color:silver"></i> 27/7 support</li>
                          </ul>
                          <div class="panel-footer"style="background-color:#333333;">

                          </div>
                      </div>
                  </div>
                  <!-- /item -->

                  <!-- item -->
                  <div class="col-md-4 text-center">
                      <div class="panel panel-success panel-pricing"style="border: 2px solid gold">
                          <div class="panel-heading"style="background-color:#333333;border-bottom: 1px solid gold">
                              <i class="fa fa-flag-checkered"style="color:gold"></i>
                              <i class="fa fa-flag-checkered"style="color:gold"></i>
                              <i class="fa fa-flag-checkered"style="color:gold"></i>
                              <h3 style="color:gold">Package 3</h3>
                          </div>
                          <div class="panel-body text-center"style="background-color:#333333;">
                              <p style="color:gold"><strong>£1995</strong></p>
                          </div>
                          <ul class="list-group text-center"style="background-color:#333333;">
                              <li class="list-group-item"style="color:gold;background-color:#333333;border: 1px solid gold"><i class="fa fa-check" style="color:gold"></i> Personal use</li>
                              <li class="list-group-item"style="color:gold;background-color:#333333;border: 1px solid gold"><i class="fa fa-check" style="color:gold"></i> Unlimited projects</li>
                              <li class="list-group-item"style="color:gold;background-color:#333333;border: 1px solid gold"><i class="fa fa-check" style="color:gold"></i> 27/7 support</li>
                          </ul>
                          <div class="panel-footer"style="background-color:#333333;">

                          </div>
                      </div>
                  </div>
                  <!-- /item -->

              </div>
          </div>
      </section>
</div>
